
@{
    ViewBag.Title = "Statistics";
    //List<Tuple<string, int>> spedizioniPerCittaList = ViewBag.SpedizioniPerCittaList;
    //int numeroSped = ViewBag.consegneNonEffettuate;
    //List<SpedizioniSPA.Models.Spedizione> SpedizioniInConsegna = ViewBag.SpedizioniInConsegna;

}

<div class="container text-white">

    <div class="row">
        <div class="col p-5">
            <h2 class="display-6">In attesa di consegna</h2>
            <h1 class="display-1" id="consegneNonEffettuate"></h1>
        </div>
        <div class="col p-5">
            <h2 class="display-6">Statistiche Spedizioni</h2>

            <div class="row ">
                <div class="col">
                    <div class="row p-3">
                        <div class="col">
                            Città
                        </div>
                        <div class="col">
                            Numero di Spedizioni
                        </div>
                    </div>
                    <div id="spedizioniPerCittaList"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col p-5">
            <h2>Spedizioni in consegna oggi</h2>
            <div class="row">
                <div class="col">
                    <div class="row mt-2 mb-3  fw-bold text-white p-3 position-sticky">
                        <div class="col ">Id Spedizione</div>
                        <div class="col">Data Spedizione</div>
                        <div class="col">Peso</div>
                        <div class="col">Costo</div>
                        <div class="col">Data Consegna</div>
                        <div class="col">Destinazione</div>
                        <div class="col">Controlli</div>
                    </div>
                    <div id="spedizioniInConsegnaList"></div>
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts{
         <script type="text/javascript">

             $(document).ready(function () {

                 $.ajax({

                     url: 'Statistics2',
                     type: 'GET',
                     dataType: "json",


                         success: function (data) {
                             $('#consegneNonEffettuate').text(data.consegneNonEffettuate);

                             var spedizioniPerCittaHTML = '';
                             $.each(data.spedizioniPerCittaList, function (index, item) {
                                 spedizioniPerCittaHTML += '<div class="row fw-bold p-3 text-white glass mb-3 cursor swing-in-top-fwd">';
                                 spedizioniPerCittaHTML += '<div class="col">' + item.Item1 + '</div>';
                                 spedizioniPerCittaHTML += '<div class="col">' + item.Item2 + '</div>';
                                 spedizioniPerCittaHTML += '</div>';
                             });
                             $('#spedizioniPerCittaList').html(spedizioniPerCittaHTML);

                             var spedizioniInConsegnaHTML = '';
                             $.each(data.spedizioniInConsegna, function (index, item) {
                                 var dataSpedizione = new Date(parseInt(item.DataSpedizione.substr(6)));
                                 var dataConsegna = new Date(parseInt(item.DataConsegna.substr(6)));


                                 spedizioniInConsegnaHTML += '<div class="cardHover">';
                                 spedizioniInConsegnaHTML += '<div class="row fw-bold p-3 text-white glass mb-3 cursor swing-in-top-fwd">';
                                 spedizioniInConsegnaHTML += '<div class="col ">' + item.IdSpedizione + '</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + dataSpedizione.toLocaleDateString() + '</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + item.Peso + ' kg</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + item.Costo + ' €</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + dataConsegna.toLocaleDateString() + '</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + item.CittaDestinazione + '</div>';
                                 spedizioniInConsegnaHTML += '<div class="col">' + '<a href="/Aggiornamento/EditAggiornamento/' + item.IdSpedizione + '" class="btn btn-warning">Aggiorna Stato</a>' + '</div>';
                                 spedizioniInConsegnaHTML += '</div>';
                                 spedizioniInConsegnaHTML += '</div>';
                             });
                             $('#spedizioniInConsegnaList').html(spedizioniInConsegnaHTML);
                         },
                         error: function (err) {
                             console.error('Errore durante la richiesta AJAX:', err);
                         }
                     

                 })

             })
        

        </script>
    }
